{% load static %}
<!DOCTYPE html>

<html class="app-ui" lang="ar">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
        <title>{% block title %} Dashboard | AppUI{% endblock %}</title>

        <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
        <meta name="author" content="rustheme" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}"/>
        <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="{% static 'js/plugins/slick/slick.min.css' %}" />
        <link rel="stylesheet" href="{% static 'js/plugins/slick/slick-theme.min.css' %}" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="{% static 'css/font-awesome.css' %}" />
        <link rel="stylesheet" id="css-ionicons" href="{% static 'css/ionicons.css' %}" />
        <link rel="stylesheet" id="css-bootstrap" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" id="css-app" href="{% static 'css/app.css' %}" />
        <link rel="stylesheet" id="css-app-custom" href="{% static 'css/app-custom.css' %}" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui layout-has-drawer layout-has-fixed-header">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Drawer -->
                {% include 'drawer.html' %}
                <!-- End drawer -->

                <!-- Header -->
                {% include 'header.html' %}
                <!-- End header -->

                <main class="app-layout-content" id="content">

                    <!-- Page Content -->
                    {% block content %}

                    {% endblock %}
                    <!-- .container-fluid -->
                    <!-- End Page Content -->

                </main>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        {% include 'modal.html' %}
        <!-- End Apps Modal -->

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="{% static 'js/core/jquery.min.js' %}"></script>
        <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.scrollLock.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.placeholder.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/app-custom.js' %}"></script>

        <!-- Page Plugins -->
        <script src="{% static 'js/plugins/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/plugins/chartjs/Chart.min.js' %}"></script>
        <script src="{% static 'js/plugins/flot/jquery.flot.min.js' %}"></script>
        <script src="{% static 'js/plugins/flot/jquery.flot.pie.min.js' %}"></script>
        <script src="{% static 'js/plugins/flot/jquery.flot.stack.min.js' %}"></script>
        <script src="{% static 'js/plugins/flot/jquery.flot.resize.min.js' %}"></script>

        <!-- Page JS Code -->
        <script src="{% static 'js/pages/index.js' %}"></script>
        <script>
            $(function()
            {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
            {% block js %}
            {% endblock %}
        </script>

    </body>

</html>